<html lang="pl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">        
        <link href="/styles/start.css" type="text/css" rel="stylesheet">        
        <link href="/styles/upload.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <h1>Przesłanie pliku powiodło się!</h1>

        <img src="/show " alt="Coś jest nie tak. Tu powinien byc przesłany obraz">
    
    </body>

</html>